<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style1.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/styleLogin.css' %}" rel="stylesheet" type="text/css" />
</head>

<style>

.NAVdropdown{
    position relative;
    display: inline-block;
}

.NAVdropdownlabel {
    display: inline-block;
    text-align: center;
    margin: 0 15px 10px 15px;
}

.NAVdropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #c0c0c0;
    z-index: 200000;
}

.dropdown-content{
    background-color: #f1f1f1;
    padding: 6px 15px 6px 6px;
    padding-left: 15px;
    white-space: nowrap;
    display: block;
    margin: 0;
}

.NAVdropdown:hover  .NAVdropdown-content{
    display: block;
}

label {
    display: inline-block;
    border-radius: 1px;
    margin: 2px;
    min-height: 25px;
    cursor: inherit;
    line-height: 22px;
}

a {
    text-decoration:none;
    color: inherit;
}

.dropdown-content:hover{
    background: #03508e;
    color: #fff;
    cursor: pointer;
}

</style>

<body>

<div class="Container">
    <a  href="/">
        <img src ="{% static "guard1/Read.jpg" %}" style="border-style:None;max-height:100px;">
    </a>

    <div class="right text-right" style="margin-top: 10px;">
        <a href="/Login.aspx">
            <input class="input" type="button" value="Login" style="vertical-align: middle;">
        </a>
    </div>

   <div class="container" style="clear:both;color:#5c5c5c">
        <div class="NAVdropdown">
            <a href="/home.aspx" style="color:#5c5c5c">
                <label class="NAVdropdownlabel" style="cursor:pointer">
                    Residents Area Home
                </label>
            </a>
        </div>
        |
        <div class="NAVdropdown">
            <a href="/OrderPermit.aspx">

                <label class="NAVdropdownlabel" style="cursor:pointer">
                    Order Parking Permit
                </label>
            </a>
        </div>
        |
        <div class="NAVdropdown">
            <label class="NAVdropdownlabel" style="cursor:pointer">
                Report An Issue
            </label>

            <div class="NAVdropdown-content" style="margin-top: 1px;">
                    <a href="/SecurityIssue.aspx" >
                        <label class="dropdown-content">
                            Security
                        </label>
                    </a>

                    <a href="/ParkingIssue.aspx">
                        <label class="dropdown-content">
                            Parking
                        </label>
                    </a>

                    <a href="">
                        <label class="dropdown-content">
                            Maintenance
                        </label>
                    </a>
            </div>



        </div>
       |
         <div class="NAVdropdown">
            <label class="NAVdropdownlabel" style="cursor:pointer">
                Parking Violation
            </label>

            <div class="NAVdropdown-content">
                <label class="dropdown-content" style="margin-top: 2px;">
                    <a href="" >
                        View
                    </a>
                </label>
                <label class="dropdown-content">
                    <a href="">
                        Pay
                    </a>
                </label>
                <label class="dropdown-content">
                    <a href="">
                        Appeal
                    </a>
                </label>
            </div>

        </div>





        <div style="width: 975px; margin-top:1 15px;">
            <div style="width: 380px; margin: 0 auto;">
                <table cellpadding="0" cellspacing="0" style="width:400px;border-collapse:collapse;">
                    <tbody>
                        <tr>
                            <td>
                                <div style="margin-top: 20px;">
                                    <div class="DivHeaderLarge">
                                        Login
                                    </div>

                                    <div class="DivBodyLarge" style="padding: 20px;">
                                        <div>
                                            <input type="text" class="right" style="width: 200px;">
                                            <label class="label-horizontal right">
                                                User Name
                                            </label>
                                        </div>

                                        <div>
                                            <input type="password" class="right" style="width: 200px;">
                                            <label class="label-horizontal right">
                                                Password
                                            </label>
                                        </div>
                                        <div class="text-center clear">
                                            <input type="submit" class="submit" value="Log In" style="margin: 15px;">
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table cellspacing="0" cellpadding="0" style="width:400px;border-collapse:collapse;margin-top: 40px;">
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <div class="DivHeaderLarge">
                                        Forgot Your Password?
                                    </div>

                                    <div class="DivBodyLarge" style="padding: 20px;">
                                        <div class="text-center">
                                            <input type="text" class="right" style="width: 200px;">
                                            <label class="label-horizontal right">
                                                User Name
                                            </label>
                                        </div>

                                        <div class="text-center clear">
                                            <input type="submit" value="Submit" style="margin: 15px;">
                                        </div>

                                        <div class="text-center" style="margin-top: 15px;">
                                            <label class="label" style="font-size: small;">
                                                Enter your User Name to receive your password
                                            </label>
                                        </div>

                                        <div class="">

                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <br>
           <img src="{% static "guard1/GreyRule.jpg" %}" alt="">



           <div style="text-align: center">
               <label style="font-size: x-small;">
                 © Copyright
                    <span>
                        2019
                    </span>
                 Citiguard Software
               </label>
           </div>

       </div>

   </div>

</div>

</body>
</html>